.contact{
    display: flex;
    margin: 5vw 0;
    height: max-content;
}
.contact__text{
    width: 40vw;
    text-align: end;
    display: flex;
    flex-direction: column;
    height: max-content;
}
.contact__header{
    font-size: 4vw;
    margin: 1.3vw 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
}
.contact__paragraph{
    width: 25vw;
    align-self: flex-end;
    margin: 0.8vw;
    font-size: 1.2vw;
    line-height: 1.4;
}
.contact__form{
    display: flex;
    flex-direction: column;
    margin: 2vw;
    height: 30vw;
    width: 35vw;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}
.contact__form-item{
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 0.8vw;
    margin: 0.5vw 0;
    width: 100%;
}
.contact__form-label{
    border: none;
    text-transform: uppercase;
    color: lightgray;
    font-size: 1vw;
}
.contact__form-input{
    border: none;
    width: 100%;
    margin: 0.1vw 0;
    font-size: 1.3vw;
}
.contact__form-input:focus{
    outline: none;

}
.contact__form-row{
    width: 100%;
    display: flex;
}
.right-margin{
    margin-right: 0.3vw;
}
.left-margin{
    margin-left: 0.3vw;
}
.contact__form-company-input{
    border: none;
}
.contact__form-textarea{
    resize: vertical;
    height: 10vw;
    border: none;
}
.contact__form-textarea:focus{
    outline: none;

}
.contact__form-button{
    background-color: #FB414E;
    border: 1px solid #FB414E;
    color: #fff;
    padding: 1vw;
    cursor: pointer;
}
