.main{
	width: 100vw;
    height: 100vh;
	margin: 0px;
	padding: 0px;
}
.main__image{
	position: absolute;
	top:0;
	right: 0;
	left: 0;
	width: 99vw;
	height: 78vh;
	/*height: 95%;*/
	background-image: url(/images/background.jpg);
    background-position: top;
	background-size: 120%;
	background-repeat: no-repeat;
}
.main__nav-container{
	display: flex;
	position: fixed;
    width: 100vw;
	height: 40vw;
    top: 0;
    /*padding: 30px 205px;*/
	justify-content: space-between;
	align-items: flex-start;
	z-index: 1;
	padding: 3vw 17vw;
}
.main__nav-logo{
    width: 6vw;
    height: 1.2vw;
}
.main__nav-menu{
	display: flex;
	list-style: none;
	font-size: 1vw;
	margin: 0.1vw 0.5vw;
	color: #EDEDED;
	font-weight: bold;

}
.main__nav-menu-item{
	margin: 0px 20px 0px 20px;
	text-decoration: none;
	color: inherit;
	width: max-content;
	border-bottom: 2px solid transparent;
}
.main__nav-menu-item:hover{
	border-bottom: 2px solid #fff;
	
}

.main__nav-mobile-button {
    display: none;
}

.main__content{
	justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    text-align: center;
    width: 100%;
    height: 78vh;
    background-color: rgba(0, 0, 0, 0.5);
    
}
.main__content-header{
	width: 50vw;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 3vw;
	font-weight: bold;
	color: #EDEDED;
}
.main__content-p{
	width: 47vw;
	color: #C8C8C7;
	font-size: 0.7vw;
	padding: 0 8vw;
	line-height: 2;
}
.main__content-button{
	margin: 4vw 1vw 0;
	padding: 10px 12px;
	width: 8vw;
	font-size: 0.7vw;
	border-radius: 1px;
	color: #fff;
}
.red-button{
	background-color: #FB414E;
	border: 1px solid #FB414E;
}
.transparent-button{
	background-color: transparent;
	border: 1px solid #FB414E;
}