.services{
    margin: 500px 0 15px;
}
.services__header{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
}
.services__h{
    text-transform: uppercase;
    color: #FB414E;
    margin: 0;
    font-size: 18px;
}
.services__title{
    font-size: 60px;
    font-weight: bold;
    margin: 10px 0;
    color: #202B30;
}
.services__span-red{
    color: #FB414E;
}
.services__text{
    font-size: 24px;
    max-width: 700px;
    text-align: center;
    color: #9A9A9A;
    font-weight: 300;
}
.services__content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 2vw 0;
}
.services__tile{
    width: 300px;
    margin: 30px 40px;
    text-align: center;
}
.services__tile-image{
    width: 50px;
    height: 45px;
    object-fit: contain;
}
.services__tile-title{
    font-size: 35px;
    margin: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
}
.services__tile-text{
    color: #9A9A9A;
    font-weight: 300;
    font-size: 18px;
}